/* Inside reservation cards, override buttons */


.container
{
  margin-top: 50px;
}
.reservation-card .checkout-button {
  background-color: #16a34a; 
  color: white;
}

.reservation-card .checkout-button:hover {
  background-color: #15803d;
}

.reservation-card .cancel-button {
  background-color: #dc2626; 
  color: white;
}

.reservation-card .cancel-button:hover {
  background-color: #b91c1c; 
}
